html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #C5C1C0;
    /*background-image: url('https://free4kwallpapers.com/uploads/wallpaper/15/07/16/low-poly-ice-1920x1080-wallpaper.jpg');*/
    background-size: cover;
}
#wrapper{
    padding-top: 3%;
}
pre{
    font-size: 18px;
    background-color: #F1F1F1;
    color: #0A1612;
    font-weight: 600;
    padding: 30px 30%;
    border-radius: 0;
    border: 1px solid #0A1612;
}
h1{
    font-weight: bolder;
    font-size: 30px;
    margin: 5px 0;
    padding: 30px 30px;
    text-align: left;
    background-color: #F7CE3E;
    color: #0A1612;
}

@media (min-width: 320px) and (max-width:980px){
    pre{
        padding: 30px 5%;
    }
    h1{
        text-align: center !important;
    }
}
h2{
    font-size: 16px;
    margin: 5px 0;
    padding: 30px 30px;
    text-align: right;
    background-color: #1A2930;
    color: #FFF;
}
p{
    background-color: #3b4f68;
    color: #FFF;
    padding: 30px 30px;
    font-size: 12px;
}