<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />

    <title>{% block title %}Benchmark - serveur HTTP - site dynamique{% endblock %}</title>

</head>

<body>

<div id="wrap">

    <div id="wrapper" class="container-fluid">
        {# block content #}
        {% block content %}

        {% endblock %}
    </div>

</div>

</body>

</html>
