{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" id="home">
        <div class="row">
            <div class="col-xs-12">
                <div id="welcome">
                    <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                    <div id="status">
                        <p>
                            Your application is now ready. You can start working on it at:
                            <code>{{ base_dir }}</code>
                        </p>
                    </div>
                    <h2> Link page list :</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Logout</a></li>
                        <li>... other link page if u want ! </li>
                    </ul>
                    <h2>Consigne projet symfony :</h2>
                    <ul>
                        <li>2 services <span class="fa fa-check"></span></li>
                        <li>3 entitées <span class="fa fa-check"></span></li>
                        <li>4 actions controleur <span class="fa fa-check"></span></li>
                        <li>3 forms <span class="fa fa-check"></span></li>
                        <li>fixtures </li>
                        <li>interface administrateur </li>
                        <li>test - phpunit </li>
                    </ul>
                    <h2>Consigne projet annuel..</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
