{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" id="home">
        <div class="row">
            <div class="col-xs-12">
                <div id="welcome">
                    <h1>Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                    <div id="status">
                        <p>
                           L'application est, à présent, prête. Tu peux commencer à travailler dans le projet:
                            <code>{{ base_dir }}</code>
                        </p>
                    </div>

                    <h2>Benchmark PHP</h2>
                    <ul>
                        <li>Linux Debian 9 Stretch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
